<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header"></head>
<nav th:replace="partials/header :: navbar"></nav>
<body>
	<div class="container">
		<h3>Main Dashboard</h3>
		<div class="container">
			<button id="register-button" type="button" class="btn btn-primary m-2" data-toggle="modal" data-target="#exampleModal">
			  Register
			</button> 
			<th:block th:replace="components/table-content"></th:block>
		</div>			
	</div>	
	<div id="modal"></div>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script th:inline="javascript">
	$(document).ready(function () {	
	 	$(".details-button").click(e => {	
		 	const code = $(e.target).attr('code')
			const element =document.getElementById('info_'+code)
			if (element.getElementsByTagName('*').length > 0) {
				return
			}  
	     	fetchInfo(code).then(result => {  
	     		$('#info_'+code).html(result)		    
			     })
	     
	    })
	    async function fetchInfo(value){    
		    let res = await fetch(`http://localhost:8080/${value}`)
		    res = await res.text()
		    return res
	    }
	 	
	 	$('#register-button').click(e => {
	 		const element =document.getElementById('modal')
	 		if (element.getElementsByTagName('*').length > 0) {
				return
	 		}
	 		fetchInfo('register').then(result => {  
			     element.innerHTML = result
			     console.log(result)
			     }).then(() => $('#exampleModal').modal('show')) 
	 	})
	})
</script>
</body>
</html>